.banner-travel-savvy-lp {
    position: relative;
    /* more “section” feel, similar to your screenshot */
    padding: clamp(32px, 4vw, 56px) 0;
    background-color: #ffffff; /* white, like the screenshot */
    text-align: left;          /* left-align everything */
}

.banner-travel-savvy-lp__content {
    padding-left: var(--page-gutter-left, 1rem);
    padding-right: var(--page-gutter-right, 1rem);
}

/* Big orange headline */
.banner-travel-savvy-lp__title {
    font-family: var(--wp--preset--font-family--outfit, sans-serif);
    font-size: var(--wp--preset--font-size--h-1);
    font-weight: 700;
    color: #f24b27; /* strong orange */
    margin: 0 0 0.75rem;
    line-height: 1.2;
}

.banner-travel-savvy-lp__separator {
    display: block;
    border: 0;
    height: 3px;
    width: 100%;
    margin: 0 0 1.5rem;
    border-radius: 999px;
    background-color: #FDCD3B !important;
    opacity: 1 !important;
}


.banner-travel-savvy-lp__text {
    font-family: var(--wp--preset--font-family--outfit, sans-serif);
    font-size: var(--wp--preset--font-size--body);
    line-height: 1.6;
    color: #4b4b4b;
    margin: 0;
    word-break: normal;
}
