<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<div class="wp-block-group">
    <!-- wp:childtheme/phone-video-reviews {
        "align":"wide",
        "heading":"Trending Reviews",
        "subheading":"See what real customers are saying.",
        "cards":[
            {
            "label":"Shade Match Review",
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            },
            {
            "label":"Before & After Glow",
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            },
            {
            "label":"Full-Day Wear Test",
            "videoUrl":"https://www.youtube.com/watch?v=mbzLLiKzM84&list=RDmbzLLiKzM84&start_radio=1"
            }
        ]
    } /-->
</div>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- /wp:group -->